.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 10rem;
    height: 3rem;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

    .header-menu > li {
        cursor: pointer;
        transition: color .3s ease-in;
    }
    .header-menu > li:hover {
        color: var(--orange);
    }

    @media (max-width:860px) {
        .header > .header-menu {
            position: fixed;
            right: 2rem;
            z-index: 99;
            flex-direction: column;
            background-color: var(--appColor);
            padding: 2rem;
            min-width: 50vw;
        }
    }