footer {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding: 4rem 0;
    align-items: center;
    border-top: 1px solid var(--lightgray);
    position: relative;
}
    footer > div {
        display: flex;
        gap: 3rem;
        align-items: center;
    }

    footer > div > img {
        width: 2rem;
    }

    footer > div > img:hover {
        cursor: pointer;
    }

    footer > img {
        margin: 0 auto;
        max-width: fit-content;
        width: 10rem;
    }

/* blur footer */
.blur-footer-1,
.blur-footer-2 {
    width: 26rem;
    height: 12rem;
    filter: blur(200px);
    bottom: 0;
}
    .blur-footer-1 {
        right: 15%;
        background: red;
    }
    .blur-footer-2 {
        left: 15%;
        background: rgb(255, 115, 0);
    }